body {
    color: #000000;
    font-family: 'lato';
    font-style: normal;
    font-weight: 300;
    font-size: 18px;
    line-height: 25px;
}

.container {
    width: 1115px;
    margin: 0 auto;
}

.flex {
    display: flex;
}

.half-width {
    width: 50%;
}

.wrp-padding {
    padding: 0 0 0 15px;
}

.display-none {
    display: none;
}

.header {
    padding: 23px 0 31px;
    box-sizing: border-box;
    display: flex;
    flex-wrap: wrap;
}

.header-main-section {
    height: 57px;
    width: 1116px;
    display: flex;
    flex-wrap: wrap;
}

.block {
    display: block;
}

.header-title {
    display: flex;
    flex-wrap: wrap;
    align-content: center;
}

.header-img {
    padding: 0 30px 0 0;
}

.header-title-text {
    color: #005FA3;
    font-family: 'Merriweather';
    font-size: 36px;
    font-weight: 900;
    line-height: 50px;
}

.header-info {
    justify-content: space-between;
    flex-wrap: wrap;
    margin: 0 0 15px;
}

.blue-icon {
    fill: #005FA3;
}

.header_contact-link{
    text-decoration: none;
}

.header_contact-link:hover .header-contact-text {
    color: #005FA3;
}

.header_contact-link:hover .blue-icon {
    fill: #1588ca;
}

.header_contact-link:active {
    opacity: 0.7;
}

.header-contact-text {
    color: #000000;
    font-size: 13px;
    font-weight: 400;
    line-height: 17px;
}

.header-nav-link {
    text-decoration: none;
    color: #222222;
    text-transform: uppercase;
    font-size: 14px;
    font-weight: 700;
    line-height: 17px;
}

.header-nav-link:hover {
    color: #005FA3;
}

.header-nav-link:active {
    opacity: 0.7;
}

.desc {
    padding: 170px 0;
    background-color: #00000099;
    background-image: url(../img/first-screen-bkg.png);
    box-sizing: border-box;
    height: 670px;
}

.desc-link {
    text-decoration: none;
    color: #FFFFFF;
    font-size: 25px;
    font-weight: 400;
    line-height: 34px;
    background: #005FA3;
    border: none;
    width: 333px;
    min-height: 84px;
    display: flex;
    justify-content: center;
    align-items: center;
}

.desc-link:hover,
.desc-link:focus,
.reviews-button:hover,
.reviews-button:focus,
.footer-button:hover,
.footer-button:focus,
.popup-button:hover,
.popup-button:focus,
.review-slider-arrow:hover,
.review-slider-arrow:focus {
    border: 1px solid white;
    background-color: #1588ca;
    cursor: pointer;
    box-sizing: border-box;
}

.desc-link:active,
.reviews-button:active,
.footer-button:active,
.popup-button:active,
.review-slider-arrow:active {
    opacity: 0.9;
}

.desc-title {
    color: #FFFFFF;
    font-family: "Merriweather";
    font-size: 48px;
    font-weight: 700;
    line-height: 66px;
    margin: 0 0 131px;  
}

.service {
    background: #EBEBEB;
    padding: 140px 0;
}

.section-title {
    color: #BDBDBD;
    font-size: 24px;
    font-weight: 900;
    line-height: 33px;
}

.section-subtitle {
    color: #333333;
    font-family: "Merriweather";
    font-size: 48px;
    font-weight: 900;
    line-height: 69px;
}

.service-subtitle {
    margin: 0 0 102px;
}

.service-list {
    flex-wrap: wrap;
    justify-content: space-between;
}

.service-item:nth-of-type(-n+3) {
    margin: 0 0 30px;
}

.service-item-title-text {
    color: #FFFFFF;
    font-size: 24px;
    font-weight: 900;
    line-height: 30px;
    padding: 261px 118px 45px 45px;
    position: relative;
}

.service-item-title {
    text-decoration: none;
    background-image: url(../img/about-bkg-image.png);
    width: 350px;
    height: 360px;
    display: block;
    position: relative;
}

.service-item-title::before {
    width: 100%;
    height: 100%;
    content: '';
    position: absolute;
    background-color: #005FA3;
    opacity: 0.65;
    display: none;
}

.service-item-title:hover.service-item-title::before,
.service-item-title:focus.service-item-title::before {
    display: block;
}

.service-item-title:active.service-item-title {
    opacity: 0.8;
}

.about {
    background-color: white;
    padding: 0 0 140px;
}

.about-title {
    margin: 140px 0 40px;
}

.about-titles-0-1 {
    margin: 0 0 60px;
}

.about-title-0 {
    color: #333333;
    font-family: "Merriweather";
    font-size: 48px;
    font-weight: 900;
    line-height: 69px;
}

.about-title-1 {
    color: #005FA3;
    font-family: "Merriweather";
    font-size: 48px;
    font-weight: 900;
    line-height: 69px;
}

.about-text {
    color: #000000;
    font-size: 18px;
    line-height: 25px;
    width: 445px;
    height: 245px;
}

.about-list {
    display: flex;
    justify-content: space-between;
    flex-wrap: wrap;
    
}

.about-item {
    background-color: #EBEBEB;
    width: 255px;
    height: 255px;
    margin: 164px 0 0 ;
    position: relative;
}

.about-item::before {
    width: 100%;
    height: 100%;
    content: '';
    background-color: #005FA3;
    position: absolute;
    display: none;
}

.about-item:hover.about-item::before {
    display: block;
}

.about-item:hover .about-item-text-0,
.about-item:hover .about-item-text-1,
.about-item:hover .about-item-link {
    color: white;
}

.about-item:nth-of-type(n+3) {
    margin: 30px 0 0;
}

.about-item-text-0 {
    color: #000000;
    text-transform: uppercase;
    font-size: 55px;
    font-weight: 900;
    line-height: 66px;
    letter-spacing: 0.1em;
    padding: 30px 140px 30px 40px;
    position: relative;
}

.about-item-text-1 {
    color: #000000;
    font-size: 14px;
    line-height: 18px;
    font-weight: 700;
    padding: 0 108px 47px 40px;
    position: relative;
}

.about-item-link {
    color: #005FA3;
    font-size: 14px;
    line-height: 17px;
    font-weight: 700;
    padding: 0 148px 0px 40px;
    position: relative;
}

.about-item:hover .about-item-link:hover {
    color: rgb(132, 179, 201);
}

.about-item:hover .about-item-link:active {
    opacity: 0.7;
}

.Our-partners {
    background-color: #EBEBEB;
    padding: 85px 0 92px 0;
}

.our-partners-title {
    
}

.our-partners-subtitle {
    margin: 48px 0 43px 0;
}

.our-partners-items {
    width: 1110;
    display: flex;
    flex-wrap: wrap;
    justify-content: space-between;
    align-content: space-between;
}

.our-partners-item {
    width: 255px;
    min-height: 111px;
}

.our-partners-link:hover .our-partners-img {
    opacity: 0.6;
}

.our-partners-link:active .our-partners-img {
    opacity: 0.4;
}

.our-partners-item:nth-of-type(-n+4) {
    margin: 0 0 34px;
}

.reviews {
    background-color: white;
    padding: 174px 0 120px;
}

.reviews-firs-section {
    width: 100%;
    display: flex;
    justify-content: space-between;
    margin: 0 0 80px;
}

.reviews-list {
    margin: 0 0 50px;
}

.reviews-item {
    background-color: #EBEBEB;
    padding: 45px 95px;
}

.reviews-item-blockquote {
    color: #000;
    font-size: 18px;
    line-height: 25px;
    margin: 0 0 58px;
}

.reviews-item-img {

}

.reviews-item-author {
    color: #000;
    font-size: 18px;
    line-height: 25px;
}

.reviews-item-author-position {
    color: #4F4F4F;
    font-size: 14px;
    line-height: 19px;
    font-weight: 400;
}

.reviews-buttons {
    display: flex;
    justify-content: space-between;
    align-items: flex-end;
}

.reviews-buttons-1 {
    justify-content: space-between;
    width: 160px;
}

.reviews-button {
    color: white;
    background-color: #005FA3;
    font-size: 18px;
    font-weight: 400;
    line-height: 25px;
    text-align: center;
    border: none;
    width: 270px;
    min-height: 60px;
}

.review-slider-button {
    width: 10px;
    height: 10px;
    background-color: #005FA3;
    padding: 0;
    border: 0;
    border-radius: 50%;
}

.review-slider-button:hover {
    background-color: #005FA3;
    cursor: pointer;
}

.review-slider-arrow {
    width: 60px;
    height: 60px;
    background-color: #005FA3;
    padding: 0;
    border: 0;
}

.review-slider-arrow:nth-of-type(1) {
    margin: 0 2px 0 0;
}

.our-advantages {
    background-color: #EBEBEB;
    padding: 102px 0 74px 0;
}

.advantages-title {
    
}

.advantages-subtitle {
    
}

.our-advantages-items {
    margin: 27px 0 0;
    display: flex;
    flex-wrap: wrap;
    width: 1098px;
    justify-content: space-between;
}

.our-advantages-item {
    width: 348px;
    height: 316px;
    padding: 80px 0 37px;
}

.our-advantages-flex {
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
    flex-wrap: wrap;
    align-content: center;
}

.our-advantages-item-quality {
    color: #000;
    font-size: 36px;
    font-weight: 700;
    line-height: 48px;


}

.our-advantages-item-running-man {
    color: #000;
    font-size: 36px;
    font-weight: 700;
    line-height: 48px;
}

.our-advantages-item-mechanic {
    color: #000;
    font-size: 36px;
    font-weight: 700;
    line-height: 48px;
}

.footer-main-section {
    background-image: url(../img/first-screen-bkg.png);
    color: #FFF;
    width: 100%;
    height: 623px;
    box-sizing: border-box;
}

.footer-wrp {
    padding: 122px 0 140px;
}

.footer-title {
    font-family: "Merriweather";
    font-size: 48px;
    line-height: 69px;
    color: #FFFFFF;
    margin: 0 0 60px 0;
}

.footer-subtitle {
    color: #FFFFFF;
    font-size: 18px;
    line-height: 25px;
    margin: 0 0 80px;
    width: 410px;
    height: 43px;
}

.footer-list {
    justify-content: space-between;
    flex-wrap: wrap;
    width: 470px;
    height: 34px;
}

.phone-footer {
    flex-wrap: wrap;
    align-content: center;
}

.phone-footer-img{
    padding: 0 10px 0 0;
}

.footer-item-phone {
    text-decoration: none;
    color: #FFFFFF;
    font-size: 21px;
    font-weight: 300;
    line-height: 29px;
    display: flex;
    justify-content: space-between;
    flex-wrap: wrap;
    align-items: center;
}

.envelope {
    display: flex;
    flex-wrap: wrap;
    justify-content: space-between;
    align-items: center;
}

.footer-item-mail-img {
    padding: 0 11px 0 0;
}

.footer-item-mail {
    display: flex;
    flex-wrap: wrap;
    justify-content: space-between;
    align-items: center;
    text-decoration: none;
    color: #FFFFFF;
    font-size: 21px;
    font-weight: 300;
    line-height: 29px;
}

.footer-item-mail:hover,
.footer-item-phone:hover {
    opacity: 0.7;
}

.footer-item-mail:active,
.footer-item-phone:active {
    opacity: 0.4;
}

.form-contact-wrp {
    display: flex;
    justify-content: space-between;
    margin: 0 0 35px;
}

.input-label-span {
    display: block;
    font-size: 16px;
    font-weight: 400px;
    line-height: 22px;
    margin: 0 0 15px;
}

.input-label {
    margin: 0 0 35px 0;
}

.input-label-input {
    width: 255px;
    padding: 4px 0 15px;
    border: none;
    border-bottom: 1px solid white;
    background-color: transparent;
    font-family: inherit;
    font-weight: 300px;
    font-size: 21px;
    line-height: 29px;
    color: #FFF;
}

.input-label-input:focus-visible {
    outline: none;
}

.input-label-input::placeholder {
    color:#BDBDBD;
}

.input-label-textarea {
    padding: 4px 0 15px;
    border: none;
    border-bottom: 1px solid white;
    background-color: transparent;
    width: 100%;
    min-height: 105px;
    resize: none;
    margin: 0 0 50px;
    font-family: inherit;
    font-weight: 300px;
    font-size: 21px;
    line-height: 29px;
    color: #FFF;
}

.input-label-textarea:focus-visible {
    outline: none;
}

.input-label-textarea::placeholder {
    color: #BDBDBD;;
}

.footer-button {
    width: 270px;
    min-height: 60px;
    background-color: #005FA3;
    color: #FFF;
    border: none;
    box-sizing: border-box;
    display: block;
    margin: 0 0 0 auto;
    margin-left: auto;
}

.footer-end-section {
    width: 1920px;
    min-height: 119px;
}

.footer-end-list {
    width: 1108px;
    min-height: 20px;
    flex-wrap: wrap;
    justify-content: space-between;
    margin: 50px 0 50px;
}  

.footer-end-1 {
    font-size: 14px;
    line-height: 19px;
    color: #000;
}

.footer-end-2 {
    font-size: 14px;
    line-height: 19px;
    color: #000;
}

.popup {
    padding: 113px 622px 174px 565px;
    background-color: #000000B2;
    box-sizing: border-box;
}
.popup-2 {
    background-color: #262626;
    width: 733px;
    min-height: 636px;
    padding: 55px 95px 69px 95px;
    box-sizing: border-box;
    position: relative;
}

.popup-close {
    position: absolute;
    right: 20px;
    top: 19px;
    border: none;
    background-color: transparent;
    cursor: pointer;
    padding: 0px;
}

.popup-close:hover {
    opacity: 0.6;
}

.popup-title {
    font-family: "Merriweather";
    font-size: 48px;
    font-weight: 900;
    line-height: 69px;
    color: white;
    text-align: center;
    display: flex;
    justify-content: center;
    align-items: flex-start;
}

.popup-input-label {
    width: 255px;
    height: 67px;
    margin: 0 33px 19px 0;
    box-sizing: border-box;
}

.popup-input-span {
    width: 125px;
    font-size: 16px;
    line-height: 22px;
    color: white;
    margin: 0 0 15px;
}

.popup-input {
    border: none;
    border-bottom: 1px solid white;
    background-color: transparent;
    width: 255px;
    color: white;
    font-size: 18px;
}

.popup-input:focus-visible {
    outline: none;
}

.popup-input::placeholder {
    font-size: 18px;
    line-height: 16px;
    color: #BDBDBD;
}

.popup-radio-label {
    display: flex;
    flex-wrap: wrap;
}

.popup-radio-span-title {
    color: white;
    width: 400px;
    font-size: 16px;
    line-height: 22px;
}

.popup-radio {
    
}

.popup-radio-span {
    color: white;
}

.popup-radio-span:nth-last-of-type(1) {
    margin: 0 10px 0 0;
}

.popup-textarea-span {
    font-size: 16px;
    font-weight: 400;
    line-height: 22px;
    color: white;
}

.popup-textarea {
    border: none;
    background-color: transparent;
    border-bottom: 1px solid white;
    width: 540px;
    min-height: 136px;
    resize: none;
    color: white;
    font-size: 18px;
    position: relative;
}

.popup-textarea:focus-visible {
    outline: none;
}

.popup-textarea::placeholder {
    font-size: 21px;
    font-weight: 300;
    line-height: 21px;
    color: #BDBDBD;
}

.flex-button-div {
    display: flex;
    justify-content: center;
}

.popup-button {
    display: flex;
    width: 270px;
    min-height: 60px;
    margin: 34px 0 0 0;
    background-color: #005FA3;
    border: none;
    color: white;
    justify-content: center;
    align-items: center;
}

.flex-button {
    font-size: 18px;
    font-weight: 400;
    line-height: 25px;
}